RestaurantFlowERP/workflows/n8n/RestaurantOrder.json
{
  "id": "RestaurantOrder-Gemini-v1",
  "meta": {
    "instanceId": "restaurant-order-gemini",
    "templateCredsSetupCompleted": true
  },
  "name": "Restaurant Order Processing (Gemini + Evolution API)",
  "tags": [
    "restaurant",
    "orders",
    "gemini"
  ],
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -340,
        460
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-order",
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "gemini-extract",
      "name": "Gemini Extract Order Details",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -120,
        460
      ],
      "parameters": {
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Extract restaurant order from chat message. Output ONLY JSON:\n{\n  \"items\": [{\"name\":\"pizza\",\"qty\":2,\"price\":12.5}],\n  \"customerName\": \"Juan\",\n  \"phone\": \"+521234567890\",\n  \"total\": 25,\n  \"notes\": \"sin piña\"\n}"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "gemini-model",
      "name": "Gemini 2.5 Pro",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -48,
        680
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-pro"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "RvSkIBjP48ORJKhU",
          "name": "Google Gemini(PaLM) Api account - test"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "gemini-think",
      "name": "AI Think Tool",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        100,
        680
      ],
      "typeVersion": 1
    },
    {
      "id": "parse-order",
      "name": "Parse Order JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        320,
        460
      ],
      "parameters": {
        "jsCode": "const aiText = $input.first().json.output;\nconst jsonString = aiText.replace(/``````/i, '').trim();\nconst order = JSON.parse(jsonString);\nreturn [{ json: order }];"
      },
      "typeVersion": 2
    },
    {
      "id": "save-order",
      "name": "Log Order to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        540,
        460
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1QZXX_gjNTTZ0vqPozNysjASQS3UcgwwWVpYvN7r-T_I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Orders"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "ScSS2KxGQULuPtdy",
          "name": "Google Sheets- test"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "evolution-confirm",
      "name": "Confirm Order (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        760,
        460
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://your-evolution-api.com/message/sendText/{{ $json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_EVOLUTION_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "= *Pedido confirmado!* ${{ $json.total }}\n{{ $json.items.map(i => `${i.qty}x ${i.name}`).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "restaurant-order-gemini-v1",
  "connections": {
    "Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Extract Order Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Think Tool": {
      "ai_tool": [
        [
          {
            "node": "Gemini Extract Order Details",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order Webhook": {
      "main": [
        [
          {
            "node": "Gemini Extract Order Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Extract Order Details": {
      "main": [
        [
          {
            "node": "Parse Order JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order JSON": {
      "main": [
        [
          {
            "node": "Log Order to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Order to Sheets": {
      "main": [
        [
          {
            "node": "Confirm Order (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}